:root {
  --Dark-green: #084236;
  --Light-green: #8ed7c6;
  --Green: #18c29c;
  --Grayish: #dce4e3;
  --White: #fff;
  --Light-grey: #dce4e3;
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

img {
  height: 100%;
  max-width: 100%;
  display: block;
}
body {
  display: flex;
  min-height: calc(100vh);
  background-color: var(--Grayish);
  font-family: 'Poppins', sans-serif;
}

.sidebar-close {
  position: relative;
  width: 78px;
  background-color: var(--Green);
  height: calc(100vh - 26px);
  display: flex;
  padding-top: 26px;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  align-items: center;
  gap: 8px;
}

.sidebar-open {
  width: 250px;
  background-color: var(--Green);
  position: fixed;
  height: 100vh;
  transition: all 0.5s linear;
}

.sidebar-open header {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 15px;
}

.sidebar-open header button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  margin: 0 !important;
}

#icon-menu {
  justify-self: center;
  align-items: center;
  justify-content: center;
  padding: 18px 13px;
  cursor: pointer;
}

#icon-search #icon-grid,
#icon-pet,
#icon-user,
#icon-vet,
#icon-settings {
  border-radius: 12px;
  padding: 13px;
  cursor: pointer;
}

#icon-search {
  background-color: var(--Light-green);
  border-radius: 12px;
  padding: 13px;
}

#icon-settings {
  border-radius: 0;
  cursor: pointer;
}

#icon-log-out {
  position: absolute;
  bottom: 0;
  background-color: var(--Light-green);
  padding: 18px 27px;
  cursor: pointer;
}

.heading {
  color: #084236;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
}

.pesquisa {
  position: relative;
  display: flex;
  align-items: center;
  width: 222px;
  margin: 0 auto;
  margin-top: 25px;
}

.icon-search {
  position: absolute;
  left: 10px;

  background-color: transparent;
  border: none;
}

input[type='search'] {
  height: 50px;
  border-radius: 12px;
  padding-left: 43px;
  flex: 1;
  background-color: var(--Light-green);
  border: none;
  width: 222px;
  margin: 0 auto;
}

input[type='search']::placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15;
  line-height: 22px;
  color: var(--Dark-green);
}

input[type='search']:focus {
  border: none;
  border-color: transparent;
  outline: none;
  outline-style: none;
  appearance: none;
}

input[type='search']:focus-visible {
  border: none;
}

/* icons with text */

.icons {
  display: flex;
  gap: 34px;
  flex-direction: column;
  padding-left: 27px;
  margin-top: 20px;
}

.icons-item {
  display: flex;
  gap: 13px;
}

.icons-item span {
  color: var(--Dark-green);
  line-height: 25px;
}

.footer {
  background-color: var(--Light-green);
  position: absolute;
  bottom: 0;
  display: flex;
  padding: 8px 14px;
  width: calc(250px - 28px);
  align-items: center;
}

.profile-name {
  color: var(--Dark-green);
  font-size: 15px;
  line-height: 1;
  font-weight: 400;
}

.cargo {
  font-size: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: var(--Dark-green);
}

#grow0 {
  flex-grow: 1;
}

#grow1 {
  flex-grow: 2;
}

#grow2 {
  flex-grow: 0;
}

.sidebar-open {
  transform: translate(-100%);
}

#heading-2 {
  display: none;
}

.fechar-sidebar {
  transform: translate(0);
  transition: all 0.5s linear;
}
